.movie-detail {
  display: flex;
  flex-direction: row;
  border: 1px solid #ccc;
  margin-top: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
  border-radius: .6rem;
  justify-content: flex-start;
}

.movie-poster {
  width: 25%;
  margin: 1rem;
  padding: auto;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
}

.movie-info {
  display: flex;
  flex-direction: column;
  padding: 0.3rem;
}

.movie-info .title {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.movie-info .title h2{
  font-size: 2rem;
}

.movie-info .title p{
  font-size: 1.6rem;
  margin-left: 1rem;
}

.movie-info p{
  font-size: 1.2rem;
}

@media (max-width: 512px) {
  .movie-detail {
    flex-direction: column;
    margin: 4%;
    border-radius: .6rem;
    justify-content: center;
    align-items: center;
  }

  .movie-poster {
    width: 60%;
  }

  .movie-info .title h2 {
    font-size: 1.8rem;
  }

  .movie-info .title p {
    font-size: 1.4rem;
  }

  .movie-info p{
    font-size: 1rem;
  }
}