.movie-detail {
  display: flex;
  flex-direction: row;
  border: 1px solid #ccc;
  margin-top: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
  border-radius: 10px;
  justify-content: center;
  width: fit-content;
  min-width: 512px;
}

.movie-poster {
  width: 18rem;
  height: auto;
  margin: 1rem;
  border-radius: 5px;
  padding: auto;
}

.movie-info {
  display: flex;
  flex-direction: column;
  width: fit-content;
  padding: 0.5rem;
}

.movie-info .title {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.movie-info .title h2{
  font-size: 2rem;
}

.movie-info .title p{
  font-size: 1.6rem;
  margin-left: 1rem;
}